.draggable-block-menu {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  cursor: grab;
  will-change: transform;
  border-radius: 4px;
  color: #999;
  transition: opacity 0.2s, background-color 0.2s;
  z-index: 1000;
}

.draggable-block-menu svg {
  width: 16px;
  height: 16px;
  opacity: 0.3;
}

.papercut-group-node {
  position: relative;
  padding-left: 32px;
  margin: 4px 0;
}

/* Show menu on hover */
.papercut-group-node:hover .draggable-block-menu {
  opacity: 1;
}

.draggable-block-menu:hover {
  background-color: #efefef;
}

.draggable-block-menu:active {
  cursor: grabbing;
}

.draggable-block-target-line {
  pointer-events: none;
  position: absolute;
  background: deepskyblue;
  height: 3px;
  left: 32px;
  right: 32px;
  opacity: 0;
  will-change: transform;
}